RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
php_value upload_max_filesize 5G
php_value post_max_size 5G
php_value max_input_time 10800
php_value max_execution_time 10800
